
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
   
}

header {
    grid-area: header;
}

header nav {
    grid-area: nav;
    background-image: linear-gradient(#012310, #285828);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.5),
    0 6.7px 5.3px rgba(0, 0, 0, 0.1);
    
}

header nav ul {
    list-style-type: none;
    display: grid;
	grid-template-columns: 1fr repeat(6, 0.4fr);
	grid-gap: 10px;
	text-align: center;
    align-items: center;
   
} 

header nav ul li:nth-child(2) {
    grid-column-start: 3;
}

header nav ul li:first-of-type {
    text-align: left;
}

header nav ul li a{
    transition: 0.5s ease;
}

header nav ul li:nth-child(2) a:hover{
    transform: scale(1.2);
    transition: 0.5s ease;
    color: lawngreen;
}

header nav ul li:nth-child(3) a:hover{
    transform: scale(1.2);
    transition: 0.5s ease;
    color: lawngreen;
}

header nav ul li:nth-child(4) a:hover{
    transform: scale(1.2);
    transition: 0.5s ease;
    color: lawngreen;
}

header nav ul li:nth-child(5) a:hover{
    transform: scale(1.2);
    transition: 0.5s ease;
    color: lawngreen;
}




header nav ul li a {
    text-decoration: none;
    font-size: 1.32em;
    font-weight: bold;
    display: block;
    color: whitesmoke;

}

header > nav > ul > li:last-of-type {
    background-color: lawngreen;
    height: 3ch;
    width: 9ch;
    font-size: 1.05em;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 600;
    transition: 0.5s ease;
}

header nav ul li:last-of-type a{
    font-size: 1.05em;
    display: flex;
    justify-content: center;
    margin-top: 0.3rem;
}

header nav ul li:last-of-type:hover {
    transform: scale(1.2);
    transition: 0.5s ease;
}

.active {
    color: lawngreen;
}

header nav a img {
    width: 40px;
    transition: 0.6s ease;
}

header nav a img:hover {
    transform: scale(1.2);
    transition: 0.6s ease;
}

body {
    background-color: #fffcf2;
}

/* Startsidan */


#index .wrapper {
	width: 100%; /* Ställer in bredden på elementet till 100% */
	height: 98vh; /* Ställer in höjden på elementet till 98% av vyhöjden (viewport height) */
	margin: 0 auto; /* Centrerar elementet horisontellt genom att sätta margin till 0 och auto */
	display: grid; /* Använder CSS Grid för att skapa en rutnätslayout */
	grid-template-rows: 80px auto 80px; /* Ange rader för rutnätet med höjd för varje rad */
	grid-template-areas: /* Ange områden för varje rad i rutnätet */
		"header"
		"main"
		"footer"
	;
}


#index main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(3, auto);

}

#index section:first-of-type {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-column-end: 4;
}

#index section:first-of-type h2 {
    font-size: 4em;
    color: black;
    text-align: center;
}

#index section:first-of-type h2::after {
    content: " ";
    background-color: #0A5C36;
    height: 5px;
    display: block;
    border-radius: 5px;
}



#index section:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

#index section:nth-child(2) article {
    text-align: center;
    justify-self: center;
    align-self: center;
    border: 2px solid #fff;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;

    background: white;
    border-radius: 5px;  
    font-size: 2rem;
    overflow-wrap: break-word;
    line-height: 1.5;
    max-height: 80vh;
}

#index section:nth-child(3) {
    grid-column-start: 8;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 6;
    align-content: center;
    padding-right: 20px;
}


#index section:nth-child(3) img {
    width: 100%;
    border-radius: 20px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  transition: 0.5s ease;
}

#index section:nth-child(3) img:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

/* For screens smaller than 768px */
@media (max-width: 767px) {
    #index .wrapper {
        height: auto; /* Set height to auto for smaller screens */
        grid-template-rows: 60px auto 60px; /* Adjust grid row heights */
    }

    #index section:first-of-type {
        grid-row-start: 1; /* Adjust grid row start */
        grid-row-end: 2; /* Adjust grid row end */
        grid-column-start: 1; /* Adjust grid column start */
        grid-column-end: 5; /* Adjust grid column end */
    }

    #index section:nth-child(2) {
        grid-column-start: 1; /* Adjust grid column start */
        grid-column-end: 13; /* Adjust grid column end */
        grid-row-start: 3; /* Adjust grid row start */
        grid-row-end: 7; /* Adjust grid row end */
    }

    #index section:nth-child(3) {
        grid-column-start: 1; /* Adjust grid column start */
        grid-column-end: 13; /* Adjust grid column end */
        grid-row-start: 8; /* Adjust grid row start */
        grid-row-end: 11; /* Adjust grid row end */
    }
}

/* For screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Add specific styles for this range if needed */
}

/* For screens larger than 1023px */
@media (min-width: 1024px) {
    /* Add specific styles for this range if needed */
}





footer {
    grid-area: footer;
    position: fixed;
    background-color: black;
    width: 100%;
    bottom: 0px;
    height: 50px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

footer p {
    color: white;
}

/* Stjärnor */

#stjärnor .wrapper {
    width: 100%; /* Ställer in bredden på elementet till 100% */
    height: 98vh; 
    margin: 0 auto; 
    display: grid; 
    grid-template-rows: 80px 60px auto 80px; 
    grid-template-areas: 
        "header"
        "nav2"
        "main"
        "footer"
    ;
}

#stjärnor main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 0.5fr);
}
#stjärnor nav:nth-child(2) {
    background-image: linear-gradient(to top , #0d5054,#0c4a4d, #0b4346, #0a3c3f, #083538, #072f31);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.12),
    0 6.7px 5.3px rgba(0, 0, 0, 0.09);
    
}

#stjärnor section {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    grid-column-start: 2;
    grid-row-start: 2;
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio for a 16:9 video */
    overflow: hidden;
}


  
#stjärnor section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#stjärnor nav:nth-child(2){
    grid-area: nav2;
}

#stjärnor nav:nth-child(2) ul {
    list-style-type: none;
    display: grid;
	grid-template-columns: 1fr repeat(7, 1fr);
	grid-gap: 10px;
	text-align: center;
    align-items: center;
    grid-gap: 5ch;
}

#stjärnor nav:nth-child(2) ul li:first-of-type {
    grid-column-start: 4;
}

#stjärnor nav:nth-child(2) ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}

#stjärnor nav:nth-child(2) ul li {
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background-image: linear-gradient(#36d6de, #2fd5dd, #28d3dc, #22d0da, #21cad3, #20c3cc, #1fbcc5, #1eb5be, #1dafb6, #1ca8af, #1aa1a8);
    height: 110%;
    transition: 0.5s ease;
    width: 10em;
}

#stjärnor nav:nth-child(2) ul li:hover {
    transform: scale(1.2);
    transition: 0.5s ease;
}

/* Värdsstjärnor*/

#global .wrapper {
    width: 100%; /* Ställer in bredden på elementet till 100% */
    height: 98vh; 
    margin: 0 auto; 
    display: grid; 
    grid-template-rows: 80px 60px auto 40px; 
    grid-template-areas: 
        "header"
        "nav2"
        "main"
        "footer"
    ;
}

#global nav:nth-child(2) {
    grid-area: nav2;
}

#global nav:nth-child(2) {
    background-image: linear-gradient(to top , #0d5054,#0c4a4d, #0b4346, #0a3c3f, #083538, #072f31);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.12),
    0 6.7px 5.3px rgba(0, 0, 0, 0.09);
    
}

#global nav:nth-child(2) ul {
    list-style-type: none;
    display: grid;
	grid-template-columns: 1fr repeat(7, 1fr);
	grid-gap: 10px;
	text-align: center;
    align-items: center;
    grid-gap: 5ch;
}

#global nav:nth-child(2) ul li:first-of-type {
    grid-column-start: 4;
}

#global nav:nth-child(2) ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}

#global nav:nth-child(2) ul li {
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background-image: linear-gradient(#36d6de, #2fd5dd, #28d3dc, #22d0da, #21cad3, #20c3cc, #1fbcc5, #1eb5be, #1dafb6, #1ca8af, #1aa1a8);
    height: 110%;
    transition: 0.5s ease;
    width: 10em;
}

#global nav:nth-child(2) ul li:hover {
    transform: scale(1.2);
    transition: 0.5s ease;
}

#global main {
    display: grid;
    grid-template-columns: 1fr; /* Change to single column layout for smaller screens */
    gap: 20px; /* Add gap between grid items */
    padding: 20px; /* Add padding to main container */
}

#global main section {
    text-align: center;
    margin-bottom: 21px;
}

#global main section img {
    width: 50%; /* Make images fill half the width of their container */
    max-width: 100%; /* Ensure images don't exceed their container width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
   

}

#global main section:first-of-type article,
#global main section:nth-child(2) article {
    width: 100%; /* Make article width 100% for smaller screens */
}

#global main section:first-of-type article p,
#global main section:nth-child(2) article p {
    font-size: 1.2em;
    text-align: center;
}

#global main section video {
    width: 50%; /* Make images fill half the width of their container */
    max-width: 100%; /* Ensure videos don't exceed their container width */
    padding-top: 1em;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#global main section:last-of-type video {
    margin-bottom: 21px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
    #global main section {
        margin-left: 0; /* Remove left margin for sections */
        margin-right: 0; /* Remove right margin for sections */
    }
}


/* Zlatan */


#zlatan .wrapper {
    width: 100%; /* Ställer in bredden på elementet till 100% */
    height: 98vh; 
    margin: 0 auto; 
    display: grid; 
    grid-template-rows: 80px 60px auto auto; 
    grid-template-areas: 
        "header"
        "nav2"
        "main"
        "footer"
    ;
    background-image: linear-gradient(to right, blue, yellow);
}




#zlatan nav:nth-child(2) {
    grid-area: nav2;
}

#zlatan nav:nth-child(2) {
    background-image: linear-gradient(to top , #0d5054,#0c4a4d, #0b4346, #0a3c3f, #083538, #072f31);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.12),
    0 6.7px 5.3px rgba(0, 0, 0, 0.09);
    
}

#zlatan nav:nth-child(2) ul {
    list-style-type: none;
    display: grid;
	grid-template-columns: 1fr repeat(7, 1fr);
	grid-gap: 10px;
	text-align: center;
    align-items: center;
    grid-gap: 5ch;
}

#zlatan nav:nth-child(2) ul li:first-of-type {
    grid-column-start: 4;
}

#zlatan nav:nth-child(2) ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}

#zlatan nav:nth-child(2) ul li {
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background-image: linear-gradient(#36d6de, #2fd5dd, #28d3dc, #22d0da, #21cad3, #20c3cc, #1fbcc5, #1eb5be, #1dafb6, #1ca8af, #1aa1a8);
    height: 110%;
    transition: 0.5s ease;
    width: 10em;
}

#zlatan nav:nth-child(2) ul li:hover {
    transform: scale(1.2);
    transition: 0.5s ease;
}

#zlatan main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr 2fr 0.5fr;
}

#zlatan main section:nth-child(1) {
    grid-column-start: 2;
    max-height: 20rem;
    margin-top: 3em;
    justify-self: center;
}

#zlatan main section:nth-child(1) video {
    height: 100%;
}


#zlatan main section:nth-child(2) {
    grid-column-start: 4;
    margin-top: 3em;
}

#zlatan main section:nth-child(2) img {
    grid-column-start: 4;
    margin-top: 3em;
    width: 100%;
}

#rekord .wrapper {
    width: 100%; /* Ställer in bredden på elementet till 100% */
    height: 98vh; 
    margin: 0 auto; 
    display: grid; 
    grid-template-rows: 80px auto auto; 
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}

#rekord main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.3fr 1fr 0.3fr 1fr 0.3fr 1fr 0.5fr;
    
}

#rekord main section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

#rekord main section:nth-child(1) {
    grid-column-start: 2;
    grid-row-start: 2;
}

#rekord main section > img {
    width: 100%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

#rekord main section:nth-child(2) {
    grid-column-start: 2;
    grid-row-start: 4;
}

#rekord main section:nth-child(3) {
    grid-column-start: 2;
    grid-row-start: 6;
}

#rekord main section:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
}

#rekord main section:nth-child(5) {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
}

#rekord main section:nth-child(6) {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 6;
}

/* Skugga bakom bild och text */

#rekord main section:nth-child(7) {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    z-index: -1;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    opacity: 0.5;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

#rekord main section:nth-child(8) {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    z-index: -1;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    opacity: 0.5;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

#rekord main section:nth-child(9) {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    z-index: -1;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    opacity: 0.5;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

#rekord main section article {
    font-size: 1.8em;
    overflow-wrap: break-word;
}

#rekord main section article p {

}