
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-color: #fffcf2;
}

header {
    grid-area: header;
}

header nav {
    background-image: linear-gradient(#012310, #285828);
    width: 100%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.5),
    0 6.7px 5.3px rgba(0, 0, 0, 0.1);
    
}

nav:first-of-type > ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0;
    line-height: 2;
    margin: 0;
    text-align: center;
    align-items: center;
    list-style-type: none;
}

nav li a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    float: none;
    color: whitesmoke;
    padding: 10px; /* Add padding to increase clickable area */
}

.active {
    color: lawngreen;
}

nav a img {
    width: 40px;
    filter: invert(100%);
}


/* Startsidan */


#index .wrapper {
	width: 100%; /* Ställer in bredden på elementet till 100% */
	height: 100%; /* Ställer in höjden på elementet till 98% av vyhöjden (viewport height) */
	margin: 0 auto; /* Centrerar elementet horisontellt genom att sätta margin till 0 och auto */
	display: grid; /* Använder CSS Grid för att skapa en rutnätslayout */
	grid-template-rows: auto auto 50px; /* Ange rader för rutnätet med höjd för varje rad */
	grid-template-areas: /* Ange områden för varje rad i rutnätet */
		"header"
		"main"
		"footer"
	;
    overflow-y: hidden;
}


#index main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}


#index main p:first-of-type {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    border-radius: 5px;  
    font-size: 1em;
    overflow-wrap: break-word;
    line-height: 1.5;
    text-align: center;
}


#index main img {
    border-radius: 20px;
    width: 50%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}



footer {
    grid-area: footer;
    background-color: black;
    width: 100%;
    text-align: center;
    
}

footer p {
    color: white;
    font-size: 1em;
}

/* Stjärnor */

#stjärnor .wrapper {
    width: 100%; /* Ställer in bredden på elementet till 100% */
    height: 100%; 
    margin: 0 auto; 
    display: grid; 
    grid-template-rows: auto 60px auto 50px; 
    grid-template-areas: 
        "header"
        "nav2"
        "main"
        "footer"
    ;
}

#stjärnor main {
    display: grid; 
    grid-template-rows: 1fr 1fr;
    overflow-y: scroll;
}

#stjärnor section {
    align-content: center;
    text-align-last: center;
} 

#stjärnor video {
    width: 90%;
}

#stjärnor img {
    width: 90%;
}

nav:nth-child(2) {
    background-image: linear-gradient(to top , #0d5054,#0c4a4d, #0b4346, #0a3c3f, #083538, #072f31);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.12),
    0 6.7px 5.3px rgba(0, 0, 0, 0.09);
    
}

nav:nth-child(2){
    grid-area: nav2;
}

nav:nth-child(2) ul {
    list-style-type: none;
    display: flex;
	text-align: center;
    flex-direction: row;
    place-content: center;
    padding-top: 0.5em;
}

nav:nth-child(2) ul li {
    border: 2px solid whitesmoke;
    border-radius: 25px;
    background-image: linear-gradient(#36d6de, #2fd5dd, #28d3dc, #22d0da, #21cad3, #20c3cc, #1fbcc5, #1eb5be, #1dafb6, #1ca8af, #1aa1a8);
    width: 10em;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}

nav:nth-child(2) ul li:hover {
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

/* Värdsstjärnor*/

#global .wrapper {
    width: 100%; /* Ställer in bredden på elementet till 100% */
    height: 100%; 
    margin: 0 auto; 
    display: grid; 
    grid-template-rows: auto 60px auto 50px; 
    grid-template-areas: 
        "header"
        "nav2"
        "main"
        "footer"
    ;
}



#global main {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px; 
    padding: 20px; 
}

#global main section {
    text-align: center;
    margin-bottom: 21px;
}

#global main section img {
    width: 50%; 
    max-width: 100%; 
    height: auto; 
    border-radius: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
   

}

#global main section:first-of-type article,
#global main section:nth-child(2) article {
    width: 100%; 
}

#global main section:first-of-type article p,
#global main section:nth-child(2) article p {
    font-size: 1.2em;
    text-align: center;
}

#global main section video {
    width: 50%; 
    max-width: 100%; 
    padding-top: 1em;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

#global main section:last-of-type video {
    margin-bottom: 21px;
}

/* Zlatan */

h1 {
    grid-area: h1;
    color: White;
    text-align: center;
}

#zlatan .wrapper {
    width: 100%; /* Ställer in bredden på elementet till 100% */
    height: auto; 
    margin: 0 auto; 
    display: grid; 
    grid-template-rows: auto 60px auto 50px; 
    grid-template-areas: 
        "header"
        "nav2"
        "main"
        "footer"
    ;
    background-image: linear-gradient(to right, blue, yellow);
}


#zlatan main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    overflow-y: scroll;
}

#zlatan main section:nth-child(1) {
    justify-self: center;
    grid-row-start: 1;
    text-align-last: center;
    align-content: center;
}

#zlatan main section:nth-child(1) video {
    width: 90%;
    max-height: 20rem;
    justify-self: center;
    
}


#zlatan main section:nth-child(2) {
    margin-top: 3em;
    grid-row-start: 2;
}

#zlatan main section:nth-child(2) img {
    width: 100%;
}

#rekord .wrapper {
    width: 100%; /* Ställer in bredden på elementet till 100% */
    height: 100%; 
    margin: 0 auto; 
    display: grid; 
    grid-template-rows: auto auto 50px; 
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}

#rekord main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: scroll;
}

#rekord main section {
    text-align: center;
    border-radius: 50px;
    
}

#rekord main section:nth-child(1) {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

#rekord main section:nth-child(2) {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#rekord main section:nth-child(3) {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

#rekord img {
    border-radius: 50px;
    width: 80px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}
/* Skugga bakom bild och text */


#rekord main section article p {
    font-size: 1em;
    overflow-wrap: break-word;
}

#fans .wrapper {
    width: 100%; /* Ställer in bredden på elementet till 100% */
    height: 100%; 
    margin: 0 auto; 
    display: grid; 
    grid-template-rows: auto auto 50px; 
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}

#fans main {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}



#fans main section{
   padding-top: 10px;
   padding-bottom: 20px;
}


#fans main section caption {
    font-size: 1.4em;
    font-weight: 700;
} 

#fans main section table, th, td  {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}



#fans main section tr td {
    width: 200px;
}

#fans main section th {
    background-color: #A0A0A0;
}

#fans main section:first-child tr:nth-child(odd){
    background-color: #C0C0C0;
   
}

#fans main section:nth-child(2) th {
    background-color: #606060;
}

#fans main section:nth-child(2) tr:nth-child(odd){
    background-color: #808080;
   
}

#fans main section:last-of-type th {
    background-color: #606060;
}

#fans main section:last-of-type tr:nth-child(odd){
    background-color: #808080;
   
}

#login .wrapper {
    width: 100%; /* Ställer in bredden på elementet till 100% */
    height: 100%; 
    margin: 0 auto; 
    display: grid; 
    grid-template-rows: auto auto 50px; 
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}

#login main {
    display: flex;
    flex-direction: column;
    
}

#login main form {
    align-self: center;
}

#login main form input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

#login main form button {
    background-color: #012310;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#login main form button:hover {
    opacity: 0.8;
}

#login main form .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: red;
}

#login main form a{
    text-decoration: none;
    color: #fff;
}


#login main img {
    width: 50%;
    margin: 0 auto;
    margin-top: auto;
    padding-top: 10px;
}

#svar .wrapper {
    width: 100%; /* Ställer in bredden på elementet till 100% */
    height: 100%; 
    margin: 0 auto; 
    display: grid; 
    grid-template-rows: auto auto 50px; 
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}

#svar main {
    display: flex;
    justify-content: center;
}



#svar main section:nth-child(2) {
    text-align-last: center;
}

#svar main section:nth-child(3) {
    text-align-last: center;
}

#svar dl {
    text-align: center;
    line-height: 3;
}

#svar dt {
    font-size: 2em;
    font-weight: 1000;
}

#svar dd {
    font-size: larger;
    font-weight: 600;
    padding-right: 30px;
}

#svar dd:last-of-type {
    color: hsl(145, 100%, 15%);
    font-weight: 800;
   
}

/* Quiz */

#quiz .wrapper {
    width: 100%; /* Ställer in bredden på elementet till 100% */
    height: 100%; 
    margin: 0 auto; 
    display: grid; 
    grid-template-rows: 80px auto 50px; 
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}

/* Media queris */

@media screen and (max-width: 300px) {
    .cancelbtn {
      width: 100%;
    }
}

@media (min-width: 800px) {

    nav:first-of-type {
        height: 80px; 
    }

    nav:first-of-type > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }

    nav:first-of-type ul li:hover{
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    nav:first-of-type ul li a:hover{
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
        color: lawngreen;
    }
    
    nav:first-of-type ul li:last-of-type {
        background-color: lawngreen;
        height: 3ch;
        width: 9ch;
        font-size: 1.05em;
        border: none;
        border-radius: 25px;
        color: white;
        font-weight: 600;
        
    }

    nav:nth-child(2) {
        background-image: linear-gradient(to top , #0d5054,#0c4a4d, #0b4346, #0a3c3f, #083538, #072f31);
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.12),
        0 6.7px 5.3px rgba(0, 0, 0, 0.09);
        
    }
    
    nav:nth-child(2){
        grid-area: nav2;
        align-content: center;
    }
    
    nav:nth-child(2) ul {
        list-style-type: none;
        display: flex;
        text-align: center;
        align-items: center;
    }

    nav:nth-child(2) ul li a {
        text-decoration: none;
        color: white;
        font-size: 1.1em;
        font-weight: bold;
    }
    
    nav:nth-child(2) ul li:last-of-type {
        border: 2px solid whitesmoke;
        border-radius: 25px;
        background-image: linear-gradient(#36d6de, #2fd5dd, #28d3dc, #22d0da, #21cad3, #20c3cc, #1fbcc5, #1eb5be, #1dafb6, #1ca8af, #1aa1a8);
        height: 110%;
        transition: 0.5s ease;
        width: 10em;
    }
    
    nav:nth-child(2) ul li:hover {
        transform: scale(1.2);
        transition: 0.5s ease;
    }
    
    

    #index .wrapper {
        width: 100%; /* Ställer in bredden på elementet till 100% */
        height: 100%; /* Ställer in höjden på elementet till 98% av vyhöjden (viewport height) */
        margin: 0 auto; /* Centrerar elementet horisontellt genom att sätta margin till 0 och auto */
        display: grid; /* Använder CSS Grid för att skapa en rutnätslayout */
        grid-template-rows: 80px auto 50px; /* Ange rader för rutnätet med höjd för varje rad */
        grid-template-areas: /* Ange områden för varje rad i rutnätet */
            "header"
            "main"
            "footer"
        ;
    }


    #index main {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    
    #index section p:first-of-type {
        text-align: center;
        justify-self: center;
        align-self: center;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
      ;
        font-size: 1.5em;
        overflow-wrap: break-word;
        
    }

    #index h2 {
        font-size: 4em;
    }

    #index section{
        align-self: center;
        width: 70%;
    }
    
    
    #index img:nth-child(2) {
        align-self: center;
    }

    #global main section {
        margin-left: 0; 
        margin-right: 0; 
    }

    #stjärnor .wrapper {
        width: 100%; /* Ställer in bredden på elementet till 100% */
        height: 100%; 
        margin: 0 auto; 
        display: grid; 
        grid-template-rows: 80px 60px auto 50px; 
        grid-template-areas: 
            "header"
            "nav2"
            "main"
            "footer"
        ;
    }

    #stjärnor main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        overflow-y: hidden;
    }

    #stjärnor video {
        width: 90%;
    }

    #stjärnor img {
        width: 90%;
    }

    #zlatan .wrapper {
        width: 100%; /* Ställer in bredden på elementet till 100% */
        height: 100%; 
        margin: 0 auto; 
        display: grid; 
        grid-template-rows: 80px 60px auto 50px; 
        grid-template-areas: 
            "header"
            "nav2"
            "main"
            "footer"
        ;
        background-image: linear-gradient(to right, blue, yellow);
    }
    
    
    #zlatan main {
        display: flex;
    }

    #rekord .wrapper {
        width: 100%; /* Ställer in bredden på elementet till 100% */
        height: 100%; 
        margin: 0 auto; 
        display: grid; 
        grid-template-rows: 80px auto 50px; 
        grid-template-areas: 
            "header"
            "main"
            "footer"
        ;
    }
    
    #rekord main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-top: 20px;
        gap: 10px;
        padding-bottom: 20px;
    }
    
    #rekord main section {
        text-align: center;   
        display: flex;
        align-items: center;
    }
    
    #rekord main section:nth-child(1) {
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    #rekord main section:nth-child(2) {
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    #rekord main section:nth-child(3) {
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
        grid-row-start: 3;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    #rekord img {
        width: 30%;
    }
    /* Skugga bakom bild och text */
    
    
    #rekord main section article p {
        font-size: 1.6em;
    }

    
    #fans .wrapper {
        width: 100%; /* Ställer in bredden på elementet till 100% */
        height: 100%; 
        margin: 0 auto; 
        display: grid; 
        grid-template-rows: 80px auto 50px; 
        grid-template-areas: 
            "header"
            "main"
            "footer"
        ;
    }

    #fans main {
        display: flex;
        flex-direction: row;
        align-content: center;
        grid-gap: 5ch;
        padding: 5ch;
    }


    #fans main section caption {
        font-size: 2em;
        font-weight: 700;
    } 

    #login .wrapper {
        width: 100%; /* Ställer in bredden på elementet till 100% */
        height: 100%; 
        margin: 0 auto; 
        display: grid; 
        grid-template-rows: 80px auto 50px; 
        grid-template-areas: 
            "header"
            "main"
            "footer"
        ;
    }
    
    #login main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
    }
    
    #login main img {
        grid-column-start: 2;
        width: 50%;
        margin: 0 auto;
        margin-top: auto;
        padding-top: 10px;
    }

    #login main form {
        align-self: center;
        grid-column-start: 2;
        grid-row-start: 2;
    }

}